# Add configuration values here, as shown below.
incremental_consumer_id: 'service_1'
incremental_min_value: <%= 1_000_000_000.to_s %>
incremental_max_value: <%= (62**6).to_s %>

secret_charset: 'nrU0VlRvXWad8ScMubkQHKPTfyFhGsCA7LO43gwtmoeYZJ5EINpzDjB61ix29q'

mongodb_url: 'for_production_use'

