# Add configuration values here, as shown below.
incremental_consumer_id: 'service_1'
incremental_adapter: 'mongo' # mongo, rest_client
incremental_service_endpoint: '' # used by rest_client adapter
incremental_service_token: '' # used by rest_client adapter

mongodb_url: ''
